@use "../abstract/variables" as var;
@use "../base/responsive" as mix;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  // background-color: ;
}
body {
  font-family: "Inter", serif;
  overflow-x: hidden !important;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  background-color: var.$color-primery;
}
